DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/dosumart?schema=public"
JWT_ACCESS_SECRET="CHANGE_ME_ACCESS_SECRET"
JWT_REFRESH_SECRET="CHANGE_ME_REFRESH_SECRET"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
PORT=3086
NODE_ENV=production
CORS_ORIGINS="https://mart.dosutech.site,https://admin-mart.dosutech.site,https://pos-mart.dosutech.site"
COOKIE_DOMAIN=.dosutech.site
DEFAULT_WAREHOUSE_CODE="WH-MAIN"
